<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="drone_arena">

  <link name="arena">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="6.7056 5.4864 2.7432"/>
      </geometry>
      <material name="transparent">
        <color rgba="0 0 1 0.1"/>
      </material>
    </visual>
  </link>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://drone_viz/meshes/crazyflie.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_to_arena" type="fixed">
    <parent link="arena"/>
    <child link="base_link"/>
    <origin xyz="0 0 -2.7432" rpy="0 0 0"/>
  </joint>
</robot>
